[Desktop Entry]
Name=Arca
Name[ca]=Arca
Name[es]=Arca
Name[eu]=Arca
Name[nl]=Arca
Name[tr]=Arca
Name[uk]=Арка
Name[x-test]=xxArcaxx
Comment=Archive manager
Comment[ca]=Gestor d'arxius
Comment[es]=Gestor de archivadores
Comment[eu]=Artxibo-kudeatzailea
Comment[nl]=Archiefbeheerder
Comment[tr]=Arşiv yöneticisi
Comment[uk]=Менеджер архівів
Comment[x-test]=xxArchive managerxx
TryExec=arca
Exec=arca %U
Terminal=false
Type=Application
GenericName=Archiver
GenericName[ca]=Arxivador
GenericName[es]=Archivador
GenericName[eu]=Artxibatzailea
GenericName[nl]=Archiefgereedschap
GenericName[tr]=Arşivleyici
GenericName[uk]=Архіватор
GenericName[x-test]=xxArchiverxx
StartupNotify=true
Icon=arca
Categories=Qt;KDE;Utility;Archiving;Compression;X-KDE-Utilities-File;
