[Desktop Entry]
Name=Arca
Name[ca]=Arca
Name[ca@valencia]=Arca
Name[es]=Arca
Name[eu]=Arca
Name[fr]=Arca
Name[gl]=Arca
Name[he]=Arca
Name[it]=Arca
Name[ka]=Arca
Name[lv]=Arca
Name[nl]=Arca
Name[sa]=आर्का
Name[sl]=Arca
Name[tr]=Arca
Name[uk]=Арка
Name[x-test]=xxArcaxx
Comment=Archive manager
Comment[ca]=Gestor d'arxius
Comment[ca@valencia]=Gestor d'arxius
Comment[es]=Gestor de archivadores
Comment[eu]=Artxibo-kudeatzailea
Comment[fr]=Gestionnaire d'archives
Comment[gl]=Xestor de arquivos.
Comment[he]=מנהל ארכיונים
Comment[it]=Gestore di archivi
Comment[ka]=არქივის მმართველი
Comment[lv]=Arhīvu pārvaldnieks
Comment[nl]=Archiefbeheerder
Comment[sa]=अभिलेखागार प्रबन्धक
Comment[sl]=Upravljalnik arhiva
Comment[tr]=Arşiv yöneticisi
Comment[uk]=Менеджер архівів
Comment[x-test]=xxArchive managerxx
TryExec=arca
Exec=arca %U
Terminal=false
Type=Application
GenericName=Archiver
GenericName[ca]=Arxivador
GenericName[ca@valencia]=Arxivador
GenericName[es]=Archivador
GenericName[eu]=Artxibatzailea
GenericName[fr]=Archiveur
GenericName[gl]=Arquivador
GenericName[he]=יצרן ארכיונים
GenericName[it]=Utilità di archiviazione
GenericName[ka]=არქივატორი
GenericName[lv]=Arhivēšanas rīks
GenericName[nl]=Archiefgereedschap
GenericName[sa]=अभिलेखागारः
GenericName[sl]=Arhivar
GenericName[tr]=Arşivleyici
GenericName[uk]=Архіватор
GenericName[x-test]=xxArchiverxx
StartupNotify=true
Icon=arca
Categories=Qt;KDE;Utility;Archiving;Compression;X-KDE-Utilities-File;
