[Desktop Entry]
Name=Arca
Name[ca]=Arca
Name[ca@valencia]=Arca
Name[de]=Arca
Name[es]=Arca
Name[eu]=Arca
Name[fi]=Arca
Name[fr]=Arca
Name[gl]=Arca
Name[he]=Arca
Name[ia]=Arca
Name[it]=Arca
Name[ka]=Arca
Name[lv]=Arca
Name[nl]=Arca
Name[pl]=Arca
Name[pt_BR]=Arca
Name[sa]=आर्का
Name[sl]=Arca
Name[sv]=Arca
Name[tr]=Arca
Name[uk]=Арка
Name[x-test]=xxArcaxx
Name[zh_CN]=Arca
Name[zh_TW]=Arca
Comment=Archive manager
Comment[ca]=Gestor d'arxius
Comment[ca@valencia]=Gestor d'arxius
Comment[de]=Archivverwaltung
Comment[es]=Gestor de archivadores
Comment[eu]=Artxibo-kudeatzailea
Comment[fi]=Arkistonhallinta
Comment[fr]=Gestionnaire d'archives
Comment[gl]=Xestor de arquivos.
Comment[he]=מנהל ארכיונים
Comment[ia]=Gerente de Archivo
Comment[it]=Gestore di archivi
Comment[ka]=არქივის მმართველი
Comment[lv]=Arhīvu pārvaldnieks
Comment[nl]=Archiefbeheerder
Comment[pl]=Zarządzanie archiwami
Comment[pt_BR]=Gerenciador de arquivos compactados
Comment[sa]=अभिलेखागार प्रबन्धक
Comment[sl]=Upravljalnik arhiva
Comment[sv]=Arkiveringshanterare
Comment[tr]=Arşiv yöneticisi
Comment[uk]=Менеджер архівів
Comment[x-test]=xxArchive managerxx
Comment[zh_CN]=压缩文件管理工具
Comment[zh_TW]=封存檔管理器
TryExec=arca
Exec=arca %U
Terminal=false
Type=Application
GenericName=Archiver
GenericName[ca]=Arxivador
GenericName[ca@valencia]=Arxivador
GenericName[de]=Archivprogramm
GenericName[es]=Archivador
GenericName[eu]=Artxibatzailea
GenericName[fi]=Arkistointi
GenericName[fr]=Archiveur
GenericName[gl]=Arquivador
GenericName[he]=יצרן ארכיונים
GenericName[ia]=Archivator
GenericName[it]=Utilità di archiviazione
GenericName[ka]=არქივატორი
GenericName[lv]=Arhivēšanas rīks
GenericName[nl]=Archiefgereedschap
GenericName[pl]=Archiwizator
GenericName[pt_BR]=Arquivador
GenericName[sa]=अभिलेखागारः
GenericName[sl]=Arhivar
GenericName[sv]=Arkivering
GenericName[tr]=Arşivleyici
GenericName[uk]=Архіватор
GenericName[x-test]=xxArchiverxx
GenericName[zh_CN]=压缩/解压工具
GenericName[zh_TW]=封存工具
StartupNotify=true
Icon=arca
Categories=Qt;KDE;Utility;Archiving;Compression;X-KDE-Utilities-File;
